.image_upload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  background-color: white;
  border-top: 1px solid lightgray;
}

.image_upload__progress {
  width: 100%;
}